
.container {
  display: flex; 
}

.main_div {
  position:relative;
}

.currentPoints{
  max-width: 100%;
  max-height: 100%;
  position:absolute;
}

.marker {
  position:absolute;
} 

.panel {
  position: relative;
} 

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/font.woff2) format('woff2');
 }
  
 .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
 }

 .taskInfo{
   /* make the task info looks better */
   text-align:justify;
   text-justify:distribute-all-lines;/*ie6-8*/
   text-align-last:justify;/* ie9*/
   -moz-text-align-last:justify;/*ff*/
   -webkit-text-align-last:justify;/*chrome 20+*/
 }