html {
    height: 100%;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    cursor: default;
    width: 100%;
    height: 100%;
}

.modals {
    height:100%;
}

.pnlm-container{
    position:absolute;
}

.makeStyles-paper-314 {
    height:100%;
}

.viewer {
    height:100%;
}

.fullscreen {
    height:100%;
    
}


.photo-info {
    background-color:  rgba(255, 255, 255, 0.5);
    position: absolute;
    /* top:50px; */
    right:10px;
    max-width: 20%;
    word-wrap:break-word;
    bottom:10px;
}

#controlbar {
    position: absolute;
    left:10px;
    top: 10px;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}


#thumbnail_div{
    text-align: left;
    position: absolute;
    left:10px;
    bottom: 10px;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}

.ab-controls {
    margin-top: 0;
    top:0;
    color:black;
    padding: 3px 5px;
    width: 26px;
    height: 26px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    /* display: inline-block; */
    cursor: pointer;
}

.ab-controls:hover {
    background: rgb(255, 255, 255)
}

.custom-hotspot {
    height:50px;
    width:50px;
    border-radius:46px;
    background-color:transparent;
    border:5px solid #dcdcdc;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
   }
   .custom-hotspot:hover{
    background-color:rgba(255,255,255,.2)
   }
    
   div.custom-tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 200%;
    max-width: 200px;
    padding: 10px 20px;
    margin-left: -220px;
    cursor: default;
   }
   div.custom-tooltip:hover span{
    visibility: visible;
   }
   div.custom-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
   }
   